<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logServerSection" type="Log4Grid.Service.LogServerSection, Log4Grid.Service"/>
    <section name="log4GridSection" type="Log4Grid.Config.Log4GridSection, Log4Grid.Config"/>
  </configSections>
  <logServerSection xmlns="urn:Log4Grid.Service" host="127.0.0.1" port="20134"/>
  <log4GridSection xmlns="urn:Log4Grid.Config">
    <management name="sqlite" type="Log4Grid.Sqlite.Management4Sqlite,Log4Grid.Sqlite">
      <properties>
        <property name="DBFile" value="Data Source=C:\Users\Administrator\Documents\ikende_Private\Log4Grid\DB\Management.db;Pooling=true;FailIfMissing=false;"/>
      </properties>
    </management>
    <logStore name="sqlite" type="Log4Grid.Sqlite.LogStore4Sqlite,Log4Grid.Sqlite">
      <properties>
        <property name="DBFile" value="Data Source=C:\Users\Administrator\Documents\ikende_Private\Log4Grid\DB\LogStore.db;Pooling=true;FailIfMissing=false;"/>
      </properties>
    </logStore>
    <logSearch name="sqlite" type="Log4Grid.Sqlite.LogSearchHandler,Log4Grid.Sqlite">
      <properties>
        <property name="DBFile" value="Data Source=C:\Users\Administrator\Documents\ikende_Private\Log4Grid\DB\LogStore.db;Pooling=true;FailIfMissing=false;"/>
      </properties>
    </logSearch>
    <user name="sqlite" type="Log4Grid.Sqlite.UserHandler,Log4Grid.Sqlite">
      <properties>
        <property name="DBFile" value="Data Source=C:\Users\Administrator\Documents\ikende_Private\Log4Grid\DB\Management.db;Pooling=true;FailIfMissing=false;"/>
      </properties>
    </user>
  </log4GridSection>
</configuration>