<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logServerSection" type="Log4Grid.Service.LogServerSection, Log4Grid.Service"/>
    <section name="log4GridSection" type="Log4Grid.Config.Log4GridSection, Log4Grid.Config"/>
  </configSections>
  <logServerSection xmlns="urn:Log4Grid.Service" host="127.0.0.1" port="20134"/>
  <log4GridSection xmlns="urn:Log4Grid.Config">
    <management name="sqlite" type="Log4Grid.MySQL.Management4MySQL,Log4Grid.MySQL">
      <properties>
        <property name="ConnectionString" value="Database=log4grid;Data Source=192.168.0.121;User Id=root;Password=password;charset=utf8;pooling=true;"/>
      </properties>
    </management>
    <logStore name="sqlite" type="Log4Grid.MySQL.LogStore4MySQL,Log4Grid.MySQL">
      <properties>
        <property name="ConnectionString" value="Database=log4grid;Data Source=192.168.0.121;User Id=root;Password=password;charset=utf8;pooling=true;"/>
      </properties>
    </logStore>
    <logSearch name="sqlite" type="Log4Grid.MySQL.LogSearch4MySQL,Log4Grid.MySQL">
      <properties>
        <property name="ConnectionString" value="Database=log4grid;Data Source=192.168.0.121;User Id=root;Password=password;charset=utf8;pooling=true;"/>
      </properties>
    </logSearch>
    <user name="sqlite" type="Log4Grid.MySQL.User4MySQL,Log4Grid.MySQL">
      <properties>
        <property name="ConnectionString" value="Database=log4grid;Data Source=192.168.0.121;User Id=root;Password=password;charset=utf8;pooling=true;"/>
      </properties>
    </user>
  </log4GridSection>
</configuration>