<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logServerSection" type="Log4Grid.Service.LogServerSection, Log4Grid.Service"/>
    <section name="log4GridSection" type="Log4Grid.Config.Log4GridSection, Log4Grid.Config"/>
  </configSections>
  <logServerSection xmlns="urn:Log4Grid.Service" host="127.0.0.1" port="20134"/>
  <log4GridSection xmlns="urn:Log4Grid.Config">
    <management name="mssql" type="Log4Grid.MSSQL.Management4MSSQL,Log4Grid.MSSQL">
      <properties>
        <property name="ConnectionString" value="Data Source=WIN-N8L2B1U5EQV\SQLEXPRESS;Initial Catalog=Log4Grid;Integrated Security=True"/>
      </properties>
    </management>
    <logStore name="mssql" type="Log4Grid.MSSQL.LogStore4MSSQL,Log4Grid.MSSQL">
      <properties>
        <property name="ConnectionString" value="Data Source=WIN-N8L2B1U5EQV\SQLEXPRESS;Initial Catalog=Log4Grid;Integrated Security=True"/>
      </properties>
    </logStore>
    <logSearch name="mssql" type="Log4Grid.MSSQL.LogSearch4MSSQL,Log4Grid.MSSQL">
      <properties>
        <property name="ConnectionString" value="Data Source=WIN-N8L2B1U5EQV\SQLEXPRESS;Initial Catalog=Log4Grid;Integrated Security=True"/>
      </properties>
    </logSearch>
    <user name="mssql" type="Log4Grid.MSSQL.User4MSSQL,Log4Grid.MSSQL">
      <properties>
        <property name="ConnectionString" value="Data Source=WIN-N8L2B1U5EQV\SQLEXPRESS;Initial Catalog=Log4Grid;Integrated Security=True"/>
      </properties>
    </user>
  </log4GridSection>
</configuration>