 @model String
  <br />
    <br />

      <br />
<div class="panel panel-default" style="margin: auto; width: 400px;">
    <div class="panel-heading">
        Login</div>
    <div class="panel-body">
    <span class="label label-warning">@Model</span>
    <form method="post" enctype="application/x-www-form-urlencoded" action="/Singin?post=true">
     <br />
        <div class="input-group">
            <span class="input-group-addon" style="min-width:100px;">UserName</span>
            <input type="text" style="min-width:100px;" class="form-control" name="name" placeholder="Username">
        </div>
        <br />
        <div class="input-group">
        <span class="input-group-addon" style="min-width:100px;">PassWord</span>
            <input type="password" style="min-width:100px;" class="form-control" name="pwd"  placeholder="Password">
            
        </div>
        <br />
        <div class="input-group">
            <button class="btn btn-default" style="margin-left:300px;" type="submit" >login</button>
        </div>
        </form>
    </div>
</div>
